version: "3"

networks:
  dynamic-dns:

services:
  dynamic-dns:
    image: dynamic-dns
    container_name: dynamic-dns
    environment:
      - DYNAMIC_DNS_URL
      - TZ
    networks:
      - dynamic-dns
    volumes:
      - ./volumes/etc/crontabs/root:/etc/crontabs/root:rw
      - ./volumes/etc/periodic/5min:/etc/periodic/5min:ro
    restart: unless-stopped
